body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

#hero {
    position: relative;
    text-align:flex;
    background-color: #333;
    color: rgb(34, 0, 252);
}

#hero img {
    width: 30%;
    opacity: 0.7;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta-button {
    background-color: #007BFF;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

#current-events,
#weather,
#company-spotlights {
    margin-top: 2rem;
}

#company-spotlights .spotlight-card {
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem;
    text-align: center;
}

#company-spotlights img {
    max-width: 100px;
}

#spotlight-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


@media (max-width: 600px) {
    #spotlight-list {
    flex-direction: column;
    align-items: center;
    }
}
